.show{
    transition: 1000ms;
  opacity: 1;
}

.hide{
opacity: 0;
}

*{
    margin:0;
    padding:0;
}

#joke{
    overflow: hide;
    padding:20px;
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3rem;
   color:white;
    min-height: 50%;
    max-height: 50%;

 display:flex;
 justify-content: center;
 align-items: center;
}

#con{

  background:rgba(0 , 0 , 0 , 0.8);
height:100vh;
flex-direction: column;
display:flex;
justify-content: center;
align-items: center;
}


#joke-card{
  
    transition: 500ms;
    box-shadow: white 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:35rem;
    width:35rem;
background:blue;
border-radius: 15px;
}



/* CSS */

#btn{}

.button-50 {
  
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}


#logo-con{

}

#logo-con img{
  width:100px;
  height:100px;
  border-radius: 100%;
}

@media(max-width:890px){
  #joke-card{
    font-size: 10px;
    width:20rem;
    height:20rem;
  }

  #joke{
    font-size: 15px;
  }

  #logo-con img{
width:50px;
height:50px;
  }

  .button-50{
    padding:10px 20px;
  }
}